@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

:root {
  /* --------------------- */
  /* Color */
  /* --------------------- */
  --brandcolor: #fad7ac;
  --color-light: rgb(241, 241, 241);
  --color-medium: #7873d6;
  --color-base: rgb(107, 94, 27);
  --color-dark: rgb(59, 87, 69);
  --color-darker: rgb(39, 58, 45);
  --primary-color: var(--brandcolor);
  --secondary-color: var(--color-light);
  --accent-color: rgb(80, 119, 93);
  --accent-color-dark: rgb(34, 45, 35);

  --black: #555;
  --white: #fff;

  --color-background: rgb(255, 255, 255);

  --highlight: rgb(240, 216, 100);
  --error: #d33c40;

  --stdshadow: 3px 3px 5px #a0a0a0;
  --bq-border: 10px solid var(--color-light);
  /* --------------------- */
  /* Media sizes*/
  /* --------------------- */
  --mobile-only: 599px;
  /* @media screen and (max-width: var(--mobile-only)){
    some-content
  } */

  --tablet-up: 600px;
  /* @media screen and (min-width: var(--tablet-up)){
    some-content
  } */

  --desktop-up: 900px;
  /* @media screen and (min-width: var(--desktop-up)){
    some-content
  } */

  --desktop-big-up: 1800px;
  /* @media screen and (min-width: var(--desktop-big-up)){
    some-content
  } */

  /* --------------------- */
  /* Typograpgy */
  /* --------------------- */

  /* Body */
  --font-stack: 'Open Sans', sans-serif;
  --font-size: 1rem;
  --body-font-size: 1rem;

  --font-style: normal;
  --font-variant: normal;
  --font-weight: normal;
  --font-color: var(--black);
  --line-height: 1.6;

  /* Headings */
  --heading-font-color: var(--color-black);
  --heading-font-weight: 600;
  --heading-font-family: var(--font-stack);
  --heading-line-height: 1.2;

  /* Mobile heading font size */
  --h1-mobile: 1.75rem;
  --h2-mobile: 1.5rem;
  --h3-mobile: 1.25rem;
  --h4-mobile: 1.1rem;
  --h5-mobile: 1rem;

  /* Heading font size */
  --h1: 2.25rem;
  --h2: 2rem;
  --h3: 1.75rem;
  --h4: 1.5rem;
  --h5: 1.25rem;

  /* --------------------- */
  /* Padding */
  /* --------------------- */
  --padding: 1rem;
  --margin: 1.5rem;
  --content-padding: 60px 0;
  --content-padding-mobile: 30px 0;

  /* Links */
  --link-fg: var(--brandcolor);
  --link-bg: var(--color-background);
  --link-hover: var(--white);

  /* --------------------- */
  /* Borders */
  /* --------------------- */
  --border-width: 1px;
  --border-style: solid;
  --border-color: #dedede;
  --border-radius: 4px;
  --borders: var(--border-width) var(--border-style) var(--border-color);

  /* --------------------- */
  /* Tables */
  /* --------------------- */
  --table-border: var(--border-color);
  --table-border-color: var(--border-color);
  --table-stripes: #f8f8f8;
  --table-caption: #ababab;

  /* --------------------- */
  /* Code */
  /* --------------------- */
  --code-color: var(--font-color);
  --code-color-bg: rgb(235, 235, 235);
  --code-size: 14px;
  --code-family: Menlo, monospace;
  --code-background: transparent;
  --code-borders: var(--borders);

  /* --------------------- */
  /* Forms / Inputs */
  /* --------------------- */
  --input-background: var(--white);
  --placeholder: var(--color-dark);
  --form-border: 1px solid rgb(139, 132, 87);
  --form-border-hover: 1px solid #b9b9b9;

  /* --------------------- */
  /* Buttons */
  /* --------------------- */
  --button-background: var(--white);
  --button-background-hover: var(--color-light);
  --button-color: var(--black);
  --button-font-weight: 400;
  --button-font-family: var(--font-stack);
  --button-font-size: 1rem;
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: var(--button-background);
  --button-border-radius: 40px;
  --button-text-transform: none;

  /* Accent buttons */
  --accent-button-background: var(--secondary-color);
  --accent-button-color: #ffffff;
  --accent-button-color-hover: #ffffff;

  /* Muted Buttons */
  --muted-border: 1px solid var(--accent-color);
  --muted-border-hover: 1px solid var(--accent-color-dark);
  --muted-background: transparent;
  --muted-background-hover: transparent;
  --muted-color: var(--accent-color-dark);
  --muted-color-hover: var(--accent-color-dark);

  /* Round Buttons */
  --round-buttons: 40px;
}

.brandcolor {
  color: var(--brand-color);
}
