.flipcard--container {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 0;
}

.flipcard--card-group {
  width: 100%;
  margin: 14px 0;

  position: absolute;
  transform-style: preserve-3d;
  transition: transform 500ms;
}

.flipcard--card {
  width: 100%;
  background-color: var(--white);
  position: absolute;
  backface-visibility: hidden;
}

.flipcard--card-front {
  overflow: hidden;
}

.flipcard--card-back {
  transform: rotateY(180deg);
}

.flipcard--card-group.flipcard--flipped {
  transform: rotateY(180deg);
}
